*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{         
    height: 100vh;
    width: 100%;
    background-color: rgb(94, 92, 92);    
}

h1 {
    text-align: center;
    color: yellow;
}

.header{
    padding: 20px;
    margin-bottom: 20px;;
}

#coins{    
    height: 100%;
    width: 100%;      
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.media {  
    height: auto;
    width: auto; 
    
    padding: 5px 15px;

    margin: 5px;

    background-color: mintcream;

    border: none ;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(94, 92, 92);
}

.media img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

@media screen and (max-width:600px){
    #coins {
        flex-direction: column;       
    }

    .media {  
        height: 10%;
        width: 80%;
    }    
}